@{
    ViewData["Title"] = "Cookie Box";
}

<div class="p-5 mb-4 shadow" style="background-color:darkslategray;border-radius:30px;">
    <h1>About</h1>
</div>
<div class="ms-4">
    <p>
        Cookie Box was created for all the cookie lovers out there. A place where you can keep a list of your favorite cookie brands
        and recipes that you enjoy baking or want to try in the future. Members can search for vegan recipes, holiday cookie and so much more. 
    </p>
    <p>Being a member you can keep track of your favorite recipes and cookie brands in your own private list.</p>
</div>