@{
    ViewData["Title"] = "Cookie Box";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<div class="p-4 mb-4 shadow" style="background-color:#7aaecd;border-radius:20px;">
    <h1>About</h1>
</div>
<div class="ms-4">
    <p>
        *app name* was designed to help users keep track of their mood, emotions and thoughts with daily logs and tracking. 
        We encourage anyone who is interested in their mental health or want to track their emotional patterns over time to give *app name* a try.   
    </p>
    <p>Being a member you can keep track of your emotions through journal logs, mood selectors, and graph stats on your own private page.</p>
</div>