@{
    ViewData["Title"] = "Cookie Box";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<body style="background-color:#5b93b6">
<div class="p-4 mb-4 shadow" style="background-color:#7aaecd;border-radius:20px;">
    <h1>Contact</h1>
</div>
<div class="ms-3">
    <p>Please contact us with any questions at:</p>

        123 Emotional Ave.<br />
        Vibe City, MI 49686
    
    <div class="row">
        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a class="list-group-item list-group-item-light" > <i class="fa fa-phone" style="font-size:15px"></i>  800.EMOTION </a>
            <a class="list-group-item list-group-item-dark"><i class="fa fa-envelope-o" style="font-size:15px"></i> Emotion@gmail.com </a>
        </div>
    </div>
</div>
</body>