@{
    ViewData["Title"] = "Cookie Box";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<body style="background-color:#5b93b6">
<div class="p-4 mb-4 shadow" style="background-color:#7aaecd;border-radius:20px;">
    <h1> Welcome to Mood Ledger,</h1>
    <br />
    <p class="lead">
        How are you feeling today?
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Start by adding your membership information to the app.  Coming soon...<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make a Journal Entry</h2>
        <p>Keep track of key parts of your day and how it made you feel.</p>
    </div>
    <div class="col-md-4">
        <h2>Look at Past Entries</h2>
        <p>Look at trends through past entries you've made.</p>
    </div>
</div>
</body>