@{
    ViewData["Title"] = "Cookie Box";
}

<div class="p-4 mb-4 shadow" style="background-color:darkslategray;border-radius:20px;">
    <h1><i class="fa fa-heart-o" style="font-size:36px;"></i> Cookie Box</h1>
    <p class="lead">
        When it comes to everything cookies. From recommended brands to recipes you can make at home. 
        Become a member to save your favorites and have a list of your favorites when you need it. 
    </p>
</div>
<div class="row">
    <img src="~/Images/biscuit.jpg" alt="Biscuit Cookies" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/Images/cookies.jpg" alt="Jam Filling Cookies" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/Images/chocolate.jpg" alt="Oatmeal Chocolate Chip" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by adding your membership information to the app.  Coming soon...<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recommended Brands</h2>
        <p>Look through some of the top rated cookie bands out there!</p>
    </div>
    <div class="col-md-4">
        <h2>Finding Recipes</h2>
        <p>Make your own cookies at home!</p>
    </div>
</div>
